$clrPri: #4e79aa; 
$crlSec: #a32e2e; 
$clrPriDark: #135d97; 
 
.sec-footer {

  .border-roght- {
    border-right: 2px solid rgb(124, 124, 124);
  }
  .logo-white {
    width: 140px;
  }
 
  h4{
    font-size: 20px ; 
    margin-bottom: 15px !important;
    font-weight: normal !important;
  }

  .input-group {
    width: 400px;
  } 
  a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 7px;
    font-size: 14px !important;
  } 
  .img-mobi {
    width: 150px;
    margin-top: 20px;
  }
  background-color: $clrPri;

  .footer-top{
    background-color: $clrPri;
    color: white;
  }
  .footer-bottom{
    background-color: $clrPriDark !important;
    font-size: 14px;
    color: white;
    margin-top: 0px;
  }

}


