$clrPri: #397aab;
$crlSec: #a32e2e;

.bg-pri {
    background-color: $clrPri !important;
}

.text-pri {
    color: $clrPri !important;
}

.bg-sec {
    background-color: $crlSec !important;
}

.text-sec {
    color: $crlSec !important;
}

.border-color-pri{
    border-color:  $clrPri !important;
}

