@import "variable";
@import "header";
@import "footer";
@import "about";
@import "index";
@import "discussion";
@import "media";

body {
  font-family: "Roboto", sans-serif;
}

.td-none {
  text-decoration: none !important;
}

.fs20 {
  font-size: 20px !important;
}

.mt-sec {
  margin-top: 3rem !important;
}

.border-sec {
  border: 1px solid $crlSec !important;
}

.visibility-hidden {
  visibility: hidden;
}

.pt9px {
  padding-top: 9px;
}

.h40px {
  height: 40px !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}
